
body{

	background: #E5E5E5;
	
}

.imgAlura {
	position: absolute;
	left: 6%;
	top: 4%;
	bottom: 0%;
}

.divTextArea {
	position: absolute;
	width: 82%;
	height: 38%;
	left: 12%;
	top: 10%;
	background-color: white;
	border-color: #E5E5E5;
	border-radius: 24px;
	padding: 14px;

}

.textArea {
	position: relative;
	width: 100%;
	height: 100%;
	
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	
	color: #0A3871;

	border: none;
}

.exclamacao, .informacao {
	display:inline-block;

	position: absolute;
	left: 16%;
	top: 52%;
	bottom: 0%;

	color: #495057;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 8px;
}

.informacao {
	opacity: 0.8;
	margin: 0 30px;
	font-size: 1.5em;
}

.botao {
	position: absolute;
	width: 100%;
	height: 10%;
	left: 0%;
	top: 55%;
	margin: 0%;
	


}

.botaoCriptografar, .botaoDescriptografar {
	text-align: center;
}

.botaoCriptografar {
	/* Button */
	/* Auto layout */
	position: absolute;
	width: 31%;
	height: 80%;
	left: 14%;
	top: 10%;

	/* Dark blue/dark-blue-300 */

	background: #0A3871;
	border-radius: 24px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 24px;
	border: none;

	color: white;

}

.botaoDescriptografar {
	/* Button */

	box-sizing: border-box;

	/* Auto layout */

	position: absolute;
	width: 31%;
	height: 80%;
	left: 49%;
	top: 10%;

	/* Light gray */

	background: #D8DFE8;
	/* Dark blue/dark-blue-300 */

	border: 1px solid #0A3871;
	border-radius: 24px;

	/* Inside auto layout */

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 24px;

	color: #0A3871;
	font-size: 35px;
	
}


button {
	transition: 0.5s background;
}


button:hover{
	margin-top:0px;
	border: 0;
	background-color: rgb(61, 58, 58);
	color: white;
	cursor: pointer;
}


button:active{
	/*margin-top:1%;
	border: 1%;*/

	transform: scale(1.07);
	background-color: red;
	cursor: wait;
	
}


.textoCriptografado {
	
	position: absolute;
	top: 5%;

	width: 82%;
	height: 70%;
	padding: 5%;


	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	line-height: 150%;

	border: none;

}

nav {
	position: absolute;
	width: 77%;
	height: 45%;
	top: 65%;
	left: 12%;

	display:inline-flex;

	
	margin: 1%;
	padding-bottom: 100px;

	/* White */
	background: white;

	/* shadow */
	align-items: center;

	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
	border: none;

}

.imgBusca {
	position:absolute;

	
	width: 70%;
	
	top:13%;
	left:18%;


}

.mensagemNaoEncontrada {
	position:absolute;
	width: 100%;
	height: 10%;
	left: 0%;
	top: 68%;
	padding-bottom: auto;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 1.1em;
	line-height: 120%;
	/* or 29px */

	text-align: center;

	/* Gray/gray-500 */

	color: #343A40;


	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 16px 3px;
	
}

.subTexto {
	/* Digite um texto que você deseja criptografar ou descriptografar. */
	position: absolute;

	width: 100%;
	left: 0;
	top: 72%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	line-height: 100%;
	/* or 24px */

	

	/* Gray/gray-400 */

	color: #495057;


	/* Inside auto layout */

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin: 16px 5px;
	padding-top: 10px;
}


.botaoCopiar {
	/* Button */

	box-sizing: border-box;

	/* Auto layout */

	position: absolute;
	width: 89%;
	height: 10%;
	left: 4%;
	top: 85%;

	/* Light gray */
	background: #D8DFE8;


	border: 1px solid #0A3871;
	border-radius: 24px;



	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 1.5%;

	color: #0A3871;
	
}


footer {
	position: absolute;
	height: 1.5%;
	top: 170%;

	background-color: transparent;	

}

.divRodape {
	position:fixed;
	height: 100%;
	width: 100%;
	top: 95%;
	left: 0px;
	padding-top: 10px;

	background-color: #0A3871;

	text-align: center;
	font-size: 80%;

	

}

.rodape {

	color: #FFFFFF;
	font: bold;

}

